<!DOCTYPE html>
<html>
<head>    
<title>Innovative Company</title>
</head>
<body>
<h1>Bindusree Penamalli Productions LTD</h1>
<p>
This Company is created as a start up for new talents.
The Main aim is to create quality products as per customer.
</p>
<style> h2{font-size:40; font-family:Times; color:black; background-color:grey} 
<h2>The Sorcerer</h2>
<h4>Act II Scene—Exterior of Sir Marmaduke's mansion by moonlight.  All the
    peasantry are discovered asleep on the ground, as at the end of
    Act I</h4>
<pre>
 a:hover {
    <p style="font-size:20; font-family:Times; color:black" background-color:grey
  >(Sees Mr. Wells, and becomes fascinated by him.)</p>
 }
                             RECITATIVE
  <h3>LADY S.</h3>     <p {style="font-size:20; font-family:Times; color:Black" }>What is this fairy form I see before me?</p>What is this fairy form I see before me?
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Oh horrible!—She's going to adore me!</p>Oh horrible!—She's going to adore me!
            This last catastrophe is overpowering!
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Why do you glare at one with visage lowering?</p>
                       <P style="font-size:20; font-family:Times; color:Black" >For pity's sake recoil not thus from me!</P>
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >My lady leave me—this may never be!</p>
            DUET—LADY SANGAZURE and MR. WELLS

  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Hate me! I drop my H's—have through life!</p>
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me! I'll drop them too!</p>
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Hate me! I always eat peas with a knife!</p>
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me! I'll eat like you!</p>
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Hate me! I spend the day at Rosherville!</p>
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me! that joy I'll share!</p>
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Hate me! I often roll down One Tree Hill!</p>
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me! I'll join you there!</p>

  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me!  My prejudices I will drop!</p>
  <h3>MR. W.</h3>.     <p style="font-size:20; font-family:Times; color:Black" >Hate me! that's not enough!</p>
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me!  I'll come and help you in the shop!</p>
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Hate me! the life is rough!</p>
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me! my grammar I will all forswear!</p>
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Hate me! abjure my lot!</p>
  <h3>LADY S.</h3>     <p style="font-size:20; font-family:Times; color:Black" >Love me! I'll stick sunflowers in my hair!</p>
  <h3>MR. W.</h3>      <p style="font-size:20; font-family:Times; color:Black" >Hate me! they'll suit you not!</p>

  </pre>
</body>
</html>