a:hover {
    background-color:white;
    color:black;
}
h4{
    color: black;
    font-size:15px;
    font-style: inherit;
}
h3{
    color:black;
    font-size: 15px;
    font-style: italic;
}
.lad{

    color:tomato;
    font-size: 15px;

}
.mrw{
    
    color:indigo;
    font-size: 15px;
}
